.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.experiencia .subtitulo {
  color: #cacaca;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}
.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}
.empresa-titulo {
  margin: 10px;
}
.empresa-titulo::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: 25px;
}
.empresa-subtitulo {
  font-weight: 600;
}
.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #424242;
  margin: 10px;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  list-style: none;
  position: relative;
  left: -40px;
}

li {
  gap: 10px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 1.4;
  font-size: 0.875rem;
}

.ano-a {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coluna-ano {
  margin: 12px;
  margin-left: 5px;
  left: -80px;
  color: #525252;
  font-size: 0.875rem;
  position: absolute;
  text-align: right;
  width: 80px;
}

.text-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  background: #d4d4d4;
}
.subtext-one {
  margin: 10px;
  padding: 10px;
}

@media (max-width: 1000px) {
  li {
    display: block;
    justify-content: left;
    margin: 0px;
  }
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: #141414;

    font-size: 6rem;
  }
  .empresa-titulo {
    margin-top: -8px;
  }
  .empresa-texto {
    font-size: -0.1rem;
  }
  .coluna-ano {
    color: #525252;
    font-size: 0.875rem;
    position: relative;
    width: 80px;
    left: 5px;
    
    margin-top: 0px;
  }
  .coluna-ano::before {
    content: "Ano: ";
  }
}
@media (max-width: 600px) {
  .text-one {
    grid-template-columns: 1fr;
  }
  .experiencia .subtitulo {
    color: #141414;
    font-size: 4rem;
  }
}
